<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <php>
        <php>
            <env name="NAME" value=""/>
            <env name="DRIVER_URL" value="https://api.directory.com/search"/>
            <env name="DRIVER_METHOD" value="POST"/>
            <env name="DRIVER_USER" value="user"/>
            <env name="DRIVER_PASSWORD" value="secret"/>
        </php>
    </php>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
</phpunit>
